<div class="titleHomepage">
    <h1>Welcome to reFresh!</h1>
    <p>Revitalize your mind & body!</p>
</div>
{{!-- {{log this}} --}}
<div class="feed">
    {{#each goals as |goal|}}
    <p>"{{goal.description}}"<br>by:{{goal.user.firstName}}</p>
    {{/each}}
</div>
<body>
 <div class="wrapper">
        <div class="card" style="--delay: -1;">
            <div class="content">
                <div class="img"><img src="" alt=""></div>
                <div class="details">
                    <span class="name">Mind</span>
                    <p>Goal goes here #1</p>
                </div>
            </div>
            <a href="/signup">Sign Up</a>
        </div>
        <div class="card" style="--delay: 0;">
            <div class="content">
                <div class="img"><img src="" alt=""></div>
                <div class="details">
                    <span class="name">Mind</span>
                    <p>Goal goes here #2</p>
                </div>
            </div>
            <a href="/signup">Sign Up</a>
        </div>
        <div class="card" style="--delay: 2;">
            <div class="content">
                <div class="img"><img src="" alt=""></div>
                <div class="details">
                    <span class="name">Body</span>
                    <p>Goal goes here #3</p>
                </div>
            </div>
            <a href="/signup">Sign Up</a>
        </div>
        <div class="card" style="--delay: 3;">
            <div class="content">
                <div class="img"><img src="" alt=""></div>
                <div class="details">
                    <span class="name">Body</span>
                    <p>Goal goes here #4</p>
                </div>
            </div>
            <a href="/signup">Sign up</a>
        </div>
        <div class="card" style="--delay: 4;">
            <div class="content">
                <div class="img"><img src="" alt=""></div>
                <div class="details">
                    <span class="name">Spirit</span>
                    <p>Goal goes here #5</p>
                </div>
            </div>
            <a href="/signup">SIgn up</a>
        </div>
    </div>
</body>

{{!-- <div class="wrapper">
    <div class="carousel">
        {{#each goal as |goal|}}
        <div class="carousel__item">
            <div class="carousel__item-head">
                
            </div>
            <div class="carousel__item-body">
                <p class="title">"{{goal.description}}"</p>
                <p>by:{{goal.user.firstName}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div> --}}