<div class="titleHomepage">
    <h1>Welcome to reFresh!</h1>
    <p>Revitalize your mind & body!</p>
</div>
{{!-- {{log this}} --}}
<div class="feed">
    {{!-- {{#each goals as |goal|}}
    <p>"{{goal.description}}"<br>by:{{goal.user.firstName}}</p>
    {{/each}} --}}
</div>

<body>
    {{log this}}
 <div class="wrapper">
        <div class="card" style="--delay: -1;">
            <div class="content">
                <div class="img"><img src="" alt=""></div>
                <div class="details">
                    <span class="name">{{goals.[0].name}}</span>
                    <p>{{goals.[0].description}}</p>
                </div>
            </div>
            <a href="/signup">Sign Up</a>
        </div>
        <div class="card" style="--delay: 0;">
            <div class="content">
                <div class="img"><img src="" alt=""></div>
                <div class="details">
                    <span class="name">{{goals.[1].name}}</span>
                    <p>{{goals.[1].description}}</p>
                </div>
            </div>
            <a href="/signup">Sign Up</a>
        </div>
        <div class="card" style="--delay: 2;">
            <div class="content">
                <div class="img"><img src="" alt=""></div>
                <div class="details">
                    <span class="name">{{goals.[2].name}}</span>
                    <p>{{goals.[2].description}}</p>
                </div>
            </div>
            <a href="/signup">Sign Up</a>
        </div>
        <div class="card" style="--delay: 3;">
            <div class="content">
                <div class="img"><img src="" alt=""></div>
                <div class="details">
                    <span class="name">{{goals.[3].name}}</span>
                    <p>{{goals.[3].description}}</p>
                </div>
            </div>
            <a href="/signup">Sign up</a>
        </div>
        <div class="card" style="--delay: 4;">
            <div class="content">
                <div class="img"><img src="" alt=""></div>
                <div class="details">
                    <span class="name">{{goals.[4].name}}</span>
                    <p>{{goals.[4].description}}</p>
                </div>
            </div>
            <a href="/signup">SIgn up</a>
        </div>
    </div>
</body>
