<div class="text-center">
  <h2>{{name}}</h2>
  {{!-- <p>{{{get_emoji}}}</p> --}}
  <p>{{description}}</p>
  <p>Created by {{user.firstName}} {{user.lastName}} on {{format_date createdAt}}</p>
  <p>
</div>